{% extends 'base.html.twig' %}

{% block title %}{{ user.userName }}'s favourites{% endblock %}

{% block body %}
<section class="favourites">
    <h1 class="text-slate-200 mx-auto mb-[40px] font text-3xl table">{{ user.userName }}'s favourites</h1>

    {% if favourites is defined %}
		{% for groupKey, group in favourites %}
			<h2 class="w-full max-w-[1000px] text-slate-200 text-xl mx-auto mb-[20px] table text-left">{{groupKey}}</h2>
			<ul id="recent" class="grid max-w-[1000px] mx-auto grid-cols-4 gap-x-[16px] gap-y-[32px] mb-[80px]">
				{% for item in group %}
					<li class="grid gap-y-[3px] font-ox">
						<a class="grid gap-y-[16px] grid-cols-[5%,90%,5%]" href="/details/{{item.favSourceId}}/{{item.details.id}}">
							<img class="w-full col-start-1 col-end-4" src="{{item.details.poster}}"/>
							<h2 class="col-start-2 col-end-2 text-slate-200 font-black tracking- ">{{item.details.title}}</h2>
							<span class="info col-start-2 col-end-2 text-sky-400">
								<span data-title="release date">Started: {{item.details.release_date}}</span><br/>
								{% if item.details.end_year == NULL %}
									<span data-title="Ongoing">Ongoing</span><br/>
								{% else %}
									<span data-title="ended">Finished in {{item.details.end_year}}</span><br/>
								{% endif %}
								<span data-title="rating" class="rating">audience rating: {{item.details.user_rating}}</span>
							</span>
						</a>
						{{ item.form|raw }}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% else %}
		<p class="error">No favourite content available.</p>
	{% endif %}
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/RemoveFromFavourites.js') }}"></script>
	<script src="{{ asset('js/Dialog.js') }}"></script>
{% endblock %}
