{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

	<section class="register absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 grid gap-y-4 justify-items-center shrink">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="text-slate-200 text-4xl">Login</h1>

		{{ form_errors(loginForm) }}

		{{ form_start(loginForm) }}
			{{ form_row(loginForm._username, { 
				'full_name': '_username',
				label: 'Email' 
			}) }}
			{{ form_row(loginForm._password, {
				label: 'Password',
				'full_name': '_password'
			}) }}
			<input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        	>
			<button type="submit" class="btn">Submit</button>
		{{ form_end(loginForm) }}
	</section>
{% endblock %}
